<%= render 'departments/common' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Diagnoses List</h3>
        <div class="table-responsive mb-3">
          <table id="tableId" class="table table-bordered table-striped">
            <thead>
              <tr>
              <th>Department Name</th>
              <th>Doctor</th>
              </tr>
            </thead>

            <tbody>
              <% @departments.each do |department| %>
                <tr>
                  <td><%= link_to department.name.capitalize, department %></td>
                  <td>Dr. <%= department.doctor.surname %> <%= department.doctor.othernames %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
