<!-- Page Title -->
<div class="container mt-0">
  <div class="row breadcrumb-bar">
    <div class="col-md-6">
      <h3 class="block-title"><%= link_to 'Appointments', appointments_path %></h3>
    </div>
    <div class="col-md-6">
      <ol class="breadcrumb" style="margin-top: 10px;">
        <li class="breadcrumb-item"><%= link_to 'Appointments', appointments_path %> </li>
        <li class="breadcrumb-item active"><%= link_to 'New Appointment', new_appointment_path %></li>
      </ol>
    </div>
  </div>
</div>
<!-- /Page Title -->
<%#= flash_messages %>

